/* Add these styles to your CSS file */

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
}

.chip-container {
	position: relative;
	max-width: 600px;
	margin: 0 auto;
}

.message {
	font-family: "Cursive", sans-serif;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}

.chip-input {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
	align-items: center;
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
}

.chip {
	display: flex;
	align-items: center;
	margin: 3px;
	padding: 5px;
	border-radius: 20px;
	background-color: #333;
	color: white;
}

.remove-icon {
	cursor: pointer;
	margin-left: 5px;
}

.initial-label {
	display: flex;
	align-items: center;
	padding: 5px;
	border-radius: 20px;
	background-color: #777; /* Default background color */
	color: white;
	margin-right: 5px;
}

.item-list {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	width: 100%;
	max-height: 150px;
	overflow-y: auto;
	border: 1px solid #ccc;
	border-top: none;
	border-radius: 0 0 5px 5px;
	background-color: white;
  
}

.item {
	padding: 10px;
	cursor: pointer;
}

.item:hover {
	background-color: #eee;
}
